%ul
    %li
        %a{:href => root_path} fontend
    %li
        User
        %ul
            %li
                %a{:href => admin_user_audit_path} User verify
            %li
                %a{:href => admin_user_index_path} User
    %li
        %a{:href => admin_news_index_path} News
    %li
        %a{:href => admin_plan_index_path} Plan
    %li
        %a{:href => admin_study_index_path} Study
