
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require twitter/bootstrap
 *= require_self
 *= require normalize-rails
 *= require_tree .
 */

#banner{
    .drop{
        position: relative;
        height: 80px;
        margin: 0;

        #dropzone {
            position: absolute;
            height: 80px;
        }

        #dropzone.in {
            z-index: 1;
            border: 5px dashed #e69;
            text-align: center;
            font-size: 1.8em;
        }

        #dropzone.hover {
            border: 5px dashed #FDD017;
            background-color: #FFF380;
        }
    }
}

.navbar {
    // border-color: #F8F8F8;
    nav {
        border-radius: 0;
    }

    ul.nav.navbar-nav.navbar-right {
        .dropdown-toggle{
            position: relative;

            padding-left: 45px;
            img {
                position: absolute;
                width: 30px; height: 30px;
                left: 5px; top: 10px;
            }
        }
    }
}