%div#professor
    %div.picture.col-md-2
        %img.img-rounded{:src => image_path('te1.jpg'), :alt => "square", :width=> 200, :height=> 200}
    %div.about.form-horizontal.col-md-9.col-md-offset-1

        %h3.col-md-11 翁健二　Chien-Erh Weng

        %label.col-md-2.col.control-label 職稱
        .col-md-10
            %label.control-label 助理教授

        %label.col-md-2.control-label 最高學歷
        %div.col-md-9
            %label.control-label 國立中正大學電機系博士

        %label.col-md-2.control-label 學術專長
        %div.col-md-9
            %label.control-label 合作式通訊系統、無線感測網路、智慧型行動裝置、嵌入式系統

        %label.col-md-2.control-label Email
        %div.col-md-9
            %label.control-label ceweng@mail.nkmu.edu.tw

        %label.col-md-2.control-label 連絡方式
        %div.col-md-9
            %label.control-label 07-3617141#3327, 3329