%h2 成立宗旨
%hr/
%p 　　隨著全球高科技產業的發展，無線通訊技術已在資通訊應用領域中佔有一席之地。科技的進步，來自人性的要求，本實驗室在如何因應滿足未來人性要求的環境條件下設立，其設立宗旨為結合無線通訊技術與智慧型控制運用在未來智慧生活的環境中

%h2 研究領域
%hr/
%ul
  %li 合作式通訊系統(Cooperative Communication Systems)
  %li 無線感測網路(Wireless Communication Networks)
  %li 智慧型行動裝置(Smart Mobile Devices)
  %li 嵌入式系統(Embedded Systems)
