/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require twitter/bootstrap
 *= require_self
 *= require normalize-rails
 *= require_tree .
 */

@mixin shadowbar{
    border:1px solid #d8d8d8;
    border-radius: 3px;
    box-shadow:1px 1px 5px rgba(50%,50%,40%,.3);
}

.shadowbar {
    @include shadowbar;
}

.container{
    max-width: 1500px;
}

.navbar-wrapper {
    nav {
        border-radius: 0;
        // background-color: #5396fc;
        // border: 0;
    }
    // .navbar-default .navbar-nav > li > a {color: #fff;}

    nav ul.navbar-nav.navbar-right {
        .dropdown-toggle {
            padding: 10px 13px;
        }
    }
}

#Carousel{
    margin-top: -90px;
    margin-bottom: 20px;
    img {
        height: 100%;
        width: 100%;
    }
}

#signin{
    @include shadowbar;
    max-width: 400px;
    height: 170px;
}

#account {
    @include shadowbar;
    height: 380px;
    max-width: 600px;
}

// member
#professor {

    .profile {
        @include shadowbar;
        height:230px;
        margin-bottom: 20px;
    }

    .paper {
        @include shadowbar;
        padding: 10px;
        margin-bottom: 20px;
    }

    .picture{
       padding: 10px;
    }

    .about {
        // clear: left;
    }
}

#student {
    h3{margin-top:5px}

    .master{margin-bottom: 20px}

    .col-md-4 {padding:5px;}
    .userprofile {
        @include shadowbar;
        height: 100%;
        padding: 15px 10px;
        margin: 5px 1px;
    }
}

#study {
    .aricle {
        @include shadowbar;
        padding-bottom: 20px;
        margin: 15px 0;
    }
}

#plan {
    .aricle {
        padding-bottom: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}









