%h1 智慧型通訊控制實驗室規定
%h4 實驗室環境與資源是各成員共同享有的，請尊重他人使用的權利。
%hr/
%ul
    %li 整齊清潔
    %ul
        %li 輪值打掃人員範圍：地板、公共桌面、垃圾、冰箱、走廊的垃圾、實驗室門、白(黑)板、微波爐、鐵架、電話…凡私人空間除外皆須保持整潔、乾淨
        %li 標有姓名櫃子最底下放實驗室公物，上兩層為個人用品
        %li 個人空間請自行保持乾淨、物品請排放整齊
        %li 注意自己放置在冰箱內的食物、飲料(請註明姓名、放入日期)
        %li
            請各成員於期中、期末考及開學前大掃除
            %br/
            (時間由管理員排定，範圍：實驗室環境整潔、清理筆電資料)
    %li 設備相關
    %ul
        %li 使用各項設備時，請愛護設備並小心操作
        %li 實驗室之印表機僅供列印與研究相關的資料，若需大量列印請至輸出店
        %li 使用筆電時，檔案、資料請自行備份
        %li 請妥善使用各項設備，若有任何問題，該名借用者負責
        %li 設備借用請先跟設備管理員借用，並務必完成借用手續，用完請歸位
        %li 未使用的設備一定要歸還，若損壞務必告知
    %li 日常事項
    %ul
        %li 進出實驗室時，請輕輕關門
        %li 實驗室鑰匙、門禁卡請妥善保管(門禁卡設定請找管理員)
        %li 請尊重實驗室的其他成員，談話、聽音樂請注意音量
        %li
            %strong.text-danger 嚴禁在實驗室打電動
            ，或進行非研究有關之行為
        %li Meeting 請準時並事先將投影機架好，最後使用完的人則負責歸位
        %li 未能準時 Meeting 請自行與老師另約時間，務必於下次 Meeting 前補齊
        %li 禁止穿拖鞋到校，下雨天、特殊狀況除外(在實驗室裡更換者不在此限)

%em.pull-right 生效日期：2011-09-05