%h1= t('lab.service')
%hr/
%h2.text-primary AP 無線網路
%dl.dl-horizontal
    %dt SSID
    %dd ICCL
    %dt password
    %dd ceweng*#

%h2.text-primary HP 列印機
%dl.dl-horizontal
    %dt ID
    %dd admin
    %dt password
    %dd ceweng*#


